.card {
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
    font-family: 'MiddleEarth';
    margin: 15px;
    color: white;
    border: solid white 2px;
}

input {
    width: 125px;
    background-color: rgb(99, 99, 99);
    color: white;
    border: transparent;
}

select {
    width: 125px;
}

.player-name {
    font-size: 38px;
    width: 200px;
}

::placeholder {
    color: white;
}

.threat {
    position: relative;
    top: 15px;
}

.resourceImg, .damageImg, .threatImg, .backpackImg {
    height: 45px;
    width: 45px;
    padding: 5px;
}